@font-face
{
	font-family: 'Pacifico';
	src: url('./fonts/pacifico/Pacifico.ttf');
}

@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1
{
	font-family: 'Pacifico', sans-serif;
	font-size: 3em;
	color: rgba(210,210,230,1);
	text-shadow: 3px 3px 2px gray;
}

body
{
	background-image: url("./img/imgForms.jpg");
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-family: 'robotoregular', sans-serif;
	
}

form
{
	background-color: rgb(255,255,255);
	border-radius: 30px;
	padding: 20px;
	width: 80%;
	min-width: 250px;
	
}

h2
{
	font-family: 'Pacifico', sans-serif;
	font-size: 1.5em;
	color: gray;
}

input, select, textarea
{
	margin: 10px;
	border: solid rgb(84, 182, 214) 1px;
	border-radius: 4px;
}

textarea
{
	width: 80%;
	height: 100px;
	font-family: 'robotoregular', sans-serif;
}

input:focus, select:focus, textarea:focus
{
	border: 2px rgb(84, 182, 240) solid;
}

label
{
	font-size: 1em;
} 

.btn
{
	background-color: rgb(210,210,230);
	width: 70%;
	height: 50px;
	border-radius: 8px;
	border: none;
	font-family: 'robotoregular', sans-serif;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}

.button
{
	text-align: center;
}

.btn:hover
{
	background-color: rgb(5, 177, 235);
}
