<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="http://localhost:5000/static/css/formsStyleSheet.css" />
		<title>Ajout license</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script language="javascript" src="http://localhost:5000/static/scripts.js"></script>
		<script language="javascript" src="http://localhost:5000/static/signIn.js"></script>	

	</head>
	
	<body>
	
		<header>
			<p>
				<img src="http://localhost:5000/static/css/img/banniere.png" alt="banniere du site" />
			</p>
			<nav>
				<ul class="nav">
					<li>Menu Principal</li>
					<ul class="menu">
						<li><a id="home" href="http://localhost:5000/home/{{ session['username'] }}">Accueil</a></li>
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}">Mon Profil<a></li>
						<li><a href="http://localhost:5000/logout">Déconnexion</a></li>
						{% if clubLogged %}
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}/creaEvent">Créer un évènement</a></li>
						{% endif %}
					</ul>
				</ul>
			</nav>
		</header>
		<h2>Ajout de licences</h2>
		<form>
		<p>
			Cliquez sur le bouton <strong>[+]</strong> pour ajouter une licence et entrez le numéro de licence.
		</p>
		<span class='info' id='test_duplicate_licence' value='_blank'></span>
		<span class='info' id='test_duplicate_email' value='_blank'></span>
		<p id="players">
		<div class="button">
			<input type="button" class="btn" onClick="javascript:newLicence()" value="+" />
		</p>
		<div class="button">
				<input type="submit" class="btn" name="subBtn" value="Ajouter les licences" />
			</div>
		</div>
		</form>
	</body>
</html>
		
