<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Connexion</title>
	</head>
	
	<body>
		<form method ='POST' action='/login'>
			<h1>Connexion</h1>
			<p>
				<label for="userID">Identifiant : </label>
				<input type="text" name="userID" id="userID"/>
				<br />
				<label for="pswrd">Mot de passe : </label>
				<input type="password" name="pswrd" id="pswrd" />
				<br />
				<input type="submit" name="subBtn" value="Connexion"/>
			</p>
		
		
			<p>
			<label for="inscription">Première connexion : </label>
			<input type="submit" name= "subBtn" value="Membre"  />
			<input type="submit" name= "subBtn"  value="Club" />
			</p>
		</form>		
		
		
			
	</body>
</html>
