<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="http://localhost:5000/static/css/formsStyleSheet.css" />
		<script language="JavaScript" src="http://localhost:5000/static/scripts.js"></script>
		<script language="JavaScript" src="http://localhost:5000/static/signIn.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<title>Créer un évènement</title>
	</head>
	
	<body>
		<header>
			<p>
				<img src="http://localhost:5000/static/css/img/banniere.png" alt="banniere du site" />
			</p>
			<nav>
				<ul class="nav">
					<li>Menu Principal</li>
					<ul class="menu">
						<li><a id="home" href="http://localhost:5000/home/{{ session['username'] }}">Accueil</a></li>
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}">Mon Profil<a></li>
						<li><a href="http://localhost:5000/logout">Déconnexion</a></li>
						{% if clubLogged %}
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}/creaEvent">Créer un évènement</a></li>
						{% endif %}
					</ul>
				</ul>
			</nav>
		</header>
		<h2>Votre évènement</h2>
		<form>
			<h3>Description de l'évènement</h3>
			<p>
				{% with messages = get_flashed_messages() %}
      			{% if messages %}
        				{% for message in messages %}
          				<div class="alert-danger">{{ message }}</div>
        				{% endfor %}
      			{% endif %}
    			{% endwith %}
				<label for="nameEvent">Nom de l'évènement : </label>
				<input type="text" name="nameEvent" id="nameEvent" onkeyup="javascript:checkNameEvent();" required>
				<span id="test_duplicate_name"></span>
				<br/>
				<label for="categorie">Catégorie : </label>
				<select name="categorie" id="categorie" required>
					<option value="Toutes categories">Toutes catégories</option>
					<option value="poussin">Moins de 10 ans</option>
					<option value="adolescent">10-18 ans</option>
					<option value="jeune">19-25 ans</option>
					<option value="senior">Plus de 25 ans</option>
				</select>
				<br/>
				<label for="nbPlace">Nombre de places : </label>
				<input type="number" name="nbPlace" id="nbPlace" required />
				<br/>
				<label for="desc">Description : </label><br/>
				<textarea name="desc" id="desc" placeholder="Décrivez votre évènement : toutes les informations sont bonnes à prendre !"></textarea>
			</p>
			<h3>Infos pratiques</h3>
			<p>
				<label for="city">Ville : </label>
				<input type="text" name="city" id="city" required>
				<br/>
				<label for="road">Numéro et rue : </label>
				<input type="text" name="road" id="road" required>
				<br/>
				<label for="start" title="jj/mm/aaaa">Du : </label>
				<input type="date" name="start" id="start" placeholder="jj/mm/aaaa" onchange="javascript:testEnd();" required>
				
				<label for="end" title="jj/mm/aaaa"> au : </label>
				<input type="date" name="end" id="end" placeholder="jj/mm/aaaa" required>
				<script type="text/javascript">window.onload = testDate("start");</script>
				<br/>
				<label for="hour">A : </label>
				<input type="time" name="hour" id="hour" placeholder="Ex : 14h30" min="00:00" required>
			</p>
			<p>
			<div class="button">
				<input type="submit" class="btn" name="subBtn" value="Soumettre" />
			</div>
			</p>
		</form>
	</body>
</html>
