<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="http://localhost:5000/static/css/formsStyleSheet.css" />
		<script language="JavaScript" src="http://localhost:5000/static/scripts.js"></script>
		<title>Créer un évènement</title>
	</head>
	
	<body>
		<h1>Votre évènement</h1>
		<form  method='POST' action={{ url_for('createEvent') }}>
			<h2>Description de l'évènement</h2>
			<p>
				<label for="nameEvent">Nom de l'évènement : </label>
				<input type="text" name="nameEvent" id="nameEvent" required>
				<span id="test_duplicate_name"></span>
				<br/>
				<label for="categorie">Catégorie : </label>
				<select name="categorie" id="categorie" required>
					<option value="all">Toutes catégories</option>
					<option value="chick">Moins de 10 ans</option>
					<option value="teen">10-18 ans</option>
					<option value="young">19-25 ans</option>
					<option value="seniors">Plus de 25 ans</option>
				</select>
				<br/>
				<label for="nbPlace">Nombre de places : </label>
				<input type="number" name="nbPlace" id="nbPlace" required />
				<br/>
				<label for="desc">Description : </label><br/>
				<textarea name="desc" id="desc" placeholder="Décrivez votre évènement : toutes les informations sont bonnes à prendre !"></textarea>
			</p>
			<h2>Infos pratiques</h2>
			<p>
				<label for="city">Ville : </label>
				<input type="text" name="city" id="city" required>
				<br/>
				<label for="road">Numéro et rue : </label>
				<input type="text" name="road" id="road" required>
				<br/>
				
				<label for="start" title="jj/mm/aaaa">Du : </label>
				<input type="date" name="start" id="start" placeholder="jj/mm/aaaa" required>
				<script type="text/javascript">window.onload = date("start");</script>
				<span id="test_format_start_date"></span>
				
				<label for="end" title="jj/mm/aaaa"> au : </label>
				<input type="date" name="end" id="end" placeholder="jj/mm/aaaa" required>
				<span id="test_format_end_date"></span>
				<br/>
				
				<label for="hour">A : </label>
				<input type="time" name="hour" id="hour" placeholder="Ex : 14h30" required>
				<span id="test_format_hours"></span>
			</p>
			<p>
			<div class="button">
				<input type="submit" class="btn" name="subBtn" value="Soumettre"/>
			</div>
			</p>
		</form>
	</body>
</html>
