<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Connexion</title>
		<link rel="stylesheet" href="css/loginStyleSheet.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="../static/signIn.js"></script>
	</head>
	
	<body>
		
		<form method='POST' action='/login'>
			<div class="bloc">
			<h1>Connexion</h1>
			<p id="blocSignIn">
				<label for="userID">Identifiant : </label>
				<input type="text" name="userID" id="userID"  onkeyup="javascript:checkLog();" required/><br/>
				<span id="test_valid_ID"></span>
				<br />
				<label for="pswrd">Mot de passe : </label>
				<input type="password" name="pswrd" id="pswrd" onkeyup="javascript:checkLog();" required /><br/>
				<span id="test_valid_pswrd"></span>
				<br />
				<div class="container" style="min-height:100% width:80%">
					{% with messages = get_flashed_messages() %}
					{% if messages %}
	 	  			{% for message in messages %}
		  			<div class="alert alert-warning alert-dismissible" role="alert">
						{{message}}
		 			</div>
					{% endfor %}
	 				{% endif %}
					{% endwith %}
	
					{% block body %}{% endblock %}
				</div>
				
				<input type="submit" name="subBtn" value="Connexion"/>
			</p>
			</div>
		</form>
		<form method='POST' action='/login'>
			<p>
				<label for="inscription">Vous arrivez tout juste ?</label><br/>
				<input type="submit" name= "subBtn" value="Membre"  />
				<input type="submit" name= "subBtn"  value="Club" />
			</p>
		</form>	
			
	</body>
</html>

			
			
