<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Connexion</title>
		<link rel="stylesheet" type="text/css" href="http://localhost:5000/static/css/loginStyleSheet.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script language="JavaScript" src="http://localhost:5000/static/signIn.js"></script>
		<script language="JavaScript" src="http://localhost:5000/static/scripts.js"></script>
	</head>
	
	<body>
		<section id="signinBloc">
			<form method='POST' action='/login'>
				<h1>Connexion</h1>
				{% with messages = get_flashed_messages() %}
      			{% if messages %}
        				{% for message in messages %}
          				<div class="alert-danger">{{ message }}</div>
        				{% endfor %}
      			{% endif %}
    			{% endwith %}
				<p id="blocSignIn">
					<label for="memberType">Vous êtes ?</label><br/>
					<input type="radio" name="memberType" id="club" value="club" /><label for="club"> Un club</label>
					<input type="radio" name="memberType" id="member" value="member" checked="checked" /><label for="member">Un sportif</label>
					<br/>
					<label for="userID">Identifiant : </label><br/>
					<input type="text" name="userID" id="userID" onkeyup="javascript:checkLog();" required/>
					<span id="test_valid_ID" class="info" value="_blank"></span>
					<br/>
					<label for="pswrd">Mot de passe : </label><br/>
					<input type="password" name="pswrd" id="pswrd" onkeyup="javascript:checkLog();" required />
					<span id="test_valid_pswrd" class="info" value="_blank"></span>
					<br />
					<input type="submit" name="subBtn" value="Connexion" class="btn"/>
				</p>
			</form>
		</section>
		
		<section id="signupBloc">
			<form method='POST' action='/login'>
				<h1>Inscription</h1>
				<p>
					<label for="inscription">Vous arrivez tout juste ?</label><br/>
					<input class="btn" type="submit" name= "subBtn" value="Sportif"  />
					<input class="btn" type="submit" name= "subBtn"  value="Club" />
				</p>
			</form>
		</section>	
	</body>
</html>
