<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="http://localhost:5000/static/css/profileStyleSheet.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script language="JavaScript" src="http://localhost:5000/static/scripts.js"></script>
		<title>{{ eventName }}</title>
	</head>
	
	<body>
		<header>
			<p>
				<img src="http://localhost:5000/static/css/img/banniere.png" alt="banniere du site" />
			</p>
			<nav>
				<ul class="nav">
					<li>Menu Principal</li>
					<ul class="menu">
						<li><a id="home" href="http://localhost:5000/home/{{ session['username'] }}">Accueil</a></li>
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}">Mon Profil<a></li>
						<li><a href="http://localhost:5000/logout">Déconnexion</a></li>
						{% if clubLogged %}
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}/creaEvent">Créer un évènement</a></li>
						{% endif %}
					</ul>
				</ul>
			</nav>
		</header>
		
		<article>
			<h2>{{ eventName }}</h2>
			<p>
				<h3>L'évènement</h3>
				<div class="field">
					Il reste <strong>{{nbPlaceStillAvailable}}</strong> places<br />
				</div>
				<div class="field">
					Catégorie ciblée : {{categorie}}<br />
				</div>
				<div class="field">
				<h4>Description de l'évènement</h4>
					<p>
						{{descEvent}}
					</p>
				</div>
				<h3>Infos pratiques</h3>
				<div class="field">
					Où ? {{cityEvent}} <br />
				</div>
				<div class="field">
					Quand ? A partir de {{startHour}} le {{dateEvent}}<br/>
				</div>
				{% if clubLogged %}
				<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}">Retourner sur mon profil<a></li>
				
				{% else %}
				<form method = 'POST' >
					<div class="ctrl" >
						{% if alreadyRegistered %}
						<input type="text" name="subBtn" value="Déjà inscrit bitch" id="signUp" class="btn"/>
						{% else %} 
						<input type="submit" name="subBtn" value="S'inscrire" id="signUp" class="btn"/>
						{%endif%}
					</div>
				</form>
				{% endif %}
			</p>
		</article>
	</body>
</html>

