<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="http://localhost:5000/static/css/profileStyleSheet.css" />
		<title>{{ eventName }}</title>
	</head>
	
	<body>
		<header>
			<p>
				<img src="http://localhost:5000/static/css/img/banniere.png" alt="banniere du site" />
			</p>
			<nav>
				<ul class="nav">
					<li>Menu Principal</li>
					<ul class="menu">
						<li><a href="#">Mon Profil</a></li>
						<li><a href="http://localhost:5000/logout">Déconnexion</a></li>
						<li><a href="http:/localhost:5000/">Créer un évènement</a></li>
					</ul>
				</ul>
			</nav>
		</header>
		
		<article>
			<h2>{{ eventName }}</h2>
			<p>
				<h3>L'évènement</h3>
				<div class="field">
					Il reste <strong>{{nbPlaceStillAvailable}}</strong> places<br />
				</div>
				<div class="field">
					Catégorie ciblée : {{categorie}}<br />
				</div>
				<div class="field">
				<h4>Description de l'évènement</h4>
					<p>
						{{descEvent}}
					</p>
				</div>
				<h3>Infos pratiques</h3>
				<div class="field">
					Où ? {{cityEvent}} <br />
				</div>
				<div class="field">
					Quand ? A partir de {{startHour}} le {{dateEvent}}<br/>
				</div>
				
				<div method='POST' class="ctrl">
					<input type="submit" value="S'inscrire" id="signUp" class="btn"/>
				</div>
			</p>
		</article>
	</body>
</html>

