<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="http://localhost:5000/static/css/profileStyleSheet.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script language="JavaScript" src="http://localhost:5000/static/displayProfile.js"></script>
		<title>{{userName}}</title><!--Prénom + Nom-->
	</head>
	
	<body>
		<header>
			<p>
				<img src="http://localhost:5000/static/css/img/banniere.png" alt="banniere du site" />
			</p>
			<nav>
				<ul class="nav">
					<li>Menu Principal</li>
					<ul class="menu">
						<li><a id="home" href="http://localhost:5000/home/{{ session['username'] }}">Accueil</a></li>
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}">Mon Profil<a></li>
						{% if clubLogged %}
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}/creaEvent">Créer un évènement</a></li>
						{% endif %}
						<li><a href="http://localhost:5000/home/search">Rechercher</a></li>
						<li><a href="http://localhost:5000/logout">Déconnexion</a></li>
					</ul>
				</ul>
			</nav>
		</header>
		<div class="container">
		<article>
			<h2>{{userName}}</h2><!-- Idem -->
			<p>
			<form method='POST' action="/home/profileMember/{{ session['username'] }}">
			
				{% with messages = get_flashed_messages() %}
      			{% if messages %}
        				{% for message in messages %}
          				<div class="alert alert-danger">{{ message }}</div>
        				{% endfor %}
      			{% endif %}     			
    				{% endwith %}
    				
				<div class="field" id="userLogin">
					Login : {{userLogin}}<br />
				</div>
				<div class="field" id="userClub">
					Club : {{userClub}}<br /><!-- Nom du club dans lequel le membre est licencié -->
				</div>
				<div class="field" id="Bdate">
					Date de naissance: {{userDate}}<br />
				</div>
				<div class="field" id="userCat">
					Catégorie: {{userCat}}<br />
				</div>
				<div class="field" id ="userMail">
					Email : {{userMail}}<br />
				</div>
				<div id="modif" value="_blank">
					<div class="field">
					<label for="email">  Nouvel email : </label>
					<input type="email" name="newEmail" id="newEmail" onkeyup="javascript:checkNewInfoMember();"/>
					<span class="info" id="test_duplicate_email" value="_blank"></span>
					</div>
					<div class="field">
					<label for="login"> Nouvel identifiant : </label>
					<input type="text" name="newLogin" id="newLogin" onkeyup="javascript:checkNewInfoMember();" />
					<span class="info" id="test_duplicate_login" value="_blank"></span>
					</div>
					<div class="field">
					<label for="pswrd">Nouveau mot de passe : </label>
					<input type="password" name="newPswrd" id="newPswrd" />
					</div>
					<input type="submit"  name="subBtn" value="Enregistrer les modifications" id="change" class="btn" />
				</div>
				
    				
    				</form>
				<div class="ctrl">
					<input type="button" value="Modifier" id="setup" class="btn" onclick="javascript:modification();"/>
					<input type="button" value="Evènements suivis" id="eventFollowed" class="btn" onclick="javascript:getEventFollowed();">
					<input type="button" value="Clubs suivis" id="clubFollowed" class="btn" onclick="javascript:getClubFollowed();">
				</div>
			</p>
		</article>
		</div>
		<div id="events" class="informations" value="_blank">
		</div>
		<div id="clubs" class="informations" value="_blank">
	</body>
</html>
