<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="http://localhost:5000/static/css/profileStyleSheet.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script language="JavaScript" src="http://localhost:5000/static/scripts.js"></script>
		<title>{{clubName}}</title>
	</head>
	
	<body>
		<header>
			<p>
				<img src="http://localhost:5000/static/css/img/banniere.png" alt="banniere du site" />
			</p>
			<nav>
				<ul class="nav">
					<li>Menu Principal</li>
					<ul class="menu">
						<li><a id="home" href="http://localhost:5000/home/{{ session['username'] }}">Accueil</a></li>
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}">Mon Profil<a></li>
						<li><a href="http://localhost:5000/logout">Déconnexion</a></li>
						{% if clubLogged %}
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}/creaEvent">Créer un évènement</a></li>
						{% endif %}
					</ul>
				</ul>
			</nav>
		</header>
		
		<article>
			<h2>{{clubName}}</h2>
			<p>
				<div class="field">
					Ville : {{clubCity}}<br />
				</div>
				<div class="field">
					Nombres de licenciés : {{nbPlayers}}<br />
				</div>
				<div class="field">
					E-mail : {{clubEmail}}<br />
				</div>
				<div class="field">
					Vous êtes suivi par <strong>{{nbFollowers}}</strong> personnes <br />
				</div>
			</p>
				{% if clubLogged %}
				<div class="ctrl">
					<form method='POST'>
						<p>
							<input type="button" value="Modifier" id="setup" class="btn"/>
							<input type="button" value="Evènements" id="events" class="btn" />
							<input type="button" value="Licenciés" id="players" class="btn"/>
						</p>
					</form>
				</div>
				{% else %}
				<div class="ctrl">
					<form method='POST'>
						<p>
							<input class="btn" type="submit" name= "subBtn" value="Suivre" id="setup"/>
						</p>
					</form>
				</div>
				{% endif %}
		</article>
	</body>
</html>
		
