<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="http://localhost:5000/static/css/profileStyleSheet.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script language="JavaScript" src="http://localhost:5000/static/scripts.js"></script>
		<script language="JavaScript" src="http://localhost:5000/static/displayProfile.js"></script>
		<title>{{clubName}}</title>
	</head>
	
	<body>
		<header>
			<p>
				<img src="http://localhost:5000/static/css/img/banniere.png" alt="banniere du site" />
			</p>
			<nav>
				<ul class="nav">
					<li>Menu Principal</li>
					<ul class="menu">
						<li><a id="home" href="http://localhost:5000/home/{{ session['username'] }}">Accueil</a></li>
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}">Mon Profil<a></li>
						<li><a href="http://localhost:5000/logout">Déconnexion</a></li>
						{% if clubLogged %}
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}/creaEvent">Créer un évènement</a></li>
						{% endif %}
					</ul>
				</ul>
			</nav>
		</header>
		
		<div class="container">
		<article>
			<h2>{{clubName}}</h2>
			<p>
			<form method='POST' action="/home/profileClub/{{ session['username'] }}">
				<div class="field">
					Ville : {{clubCity}}<br />
				</div>
				<div class="field">
					Nombres de licenciés : {{nbPlayers}}<br />
				</div>
				<div class="field">
					E-mail : {{clubEmail}}<br />
				</div>
				<div id="modif">
					<label for="email">  Nouvel email : </label>
					<input type="email" name="newEmail" id="newEmail" onkeyup="javascript:checkNewInfoClub();"/>
					<span class="info" id="test_duplicate_email" value="_blank"></span>
					<br/>
					<label for="login"> Nouvel identifiant : </label>
					<input type="text" name="newLogin" id="newLogin" onkeyup="javascript:checkNewInfoClub();" />
					<span class="info" id="test_duplicate_login" value="_blank"></span>
					<br />
					<label for="pswrd">Nouveau mot de passe : </label>
					<input type="password" name="newPswrd" id="newPswrd" />
					<br/>
					<input type="submit"  name="subBtn" value="Enregistrer les modifications" id="change" class="btn" />
				</div>
				{% with messages = get_flashed_messages() %}
      			{% if messages %}
        				{% for message in messages %}
          				<div class="alert alert-danger">{{ message }}</div>
        				{% endfor %}
      			{% endif %}     			
    				{% endwith %}
				
				
			</form>
			</p>
				{% if clubLogged %}
				<div class="ctrl">
				
					<div class="field">
						Vous êtes suivi par <strong>{{nbFollowers}}</strong> personnes <br />
					</div>
				
					<form method='POST'>
						<p>
							<input type="button" value="Modifier" id="setup" onclick="javascript:modification();" class="btn"/>
							<input type="submit"  name="subBtn" value="Creer des Evenements" id="events" class="btn" />
							<input type="submit" name="subBtn" value="Ajouter des Licencies" id="players" class="btn"/>
						</p>
					</form>
				</div>
				{% else %}
				<div class="ctrl">
					<form method='POST'>
						<p>
							{% if checkFollowedClub %}
								<input type="text" name="subBtn" value="Tu me suis déjà lama" id="signUp" class="btn"/>
							{% else %} 
								<input class="btn" type="submit" name= "subBtn" value="Suivre" id="setup"/>
							{%endif%}
						</p>
					</form>
				</div>
				{% endif %}
			</article>
		</div>
	</body>
</html>
		
