<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>{{userName}}</title><!--Prénom + Nom-->
	</head>
	
	<body>
		<h1>{{userName}}</h1><!-- Idem -->
		<p>
			Club : {{userClub}}<br /><!-- Nom du club dans lequel le membre est licencié -->
			Age : {{userAge}}<br />
			Email : {{userMail}}<br />
			<input type="button" value="Modifier" id="setup" />
			<input type="button" value="Evènements suivis" id="eventFollowed" />
			<input type="button" value="Clubs suivis" id="clubFollowed" />
		</p>
	</body>
</html>
			
