<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="http://localhost:5000/static/css/profileStyleSheet.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script language="JavaScript" src="http://localhost:5000/static/displayProfile.js"></script>
		<title>{{userName}}</title><!--Prénom + Nom-->
	</head>
	
	<body>
		<header>
			<p>
				<img src="http://localhost:5000/static/css/img/banniere.png" alt="banniere du site" />
			</p>
			<nav>
				<ul class="nav">
					<li>Menu Principal</li>
					<ul class="menu">
						<li><a id="home" href="http://localhost:5000/home/{{ session['username'] }}">Accueil</a></li>
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}">Mon Profil<a></li>
						<li><a href="http://localhost:5000/logout">Déconnexion</a></li>
						{% if clubLogged %}
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}/creaEvent">Créer un évènement</a></li>
						{% endif %}
					</ul>
				</ul>
			</nav>
		</header>
		
		<div class="container">
		<article>
			<h2>{{userName}}</h2><!-- Idem -->
			<p>
				<div class="field" id="userLogin">
					Login : {{userLogin}}<br />
				</div>
				<div class="field" id="userClub">
					Club : {{userClub}}<br /><!-- Nom du club dans lequel le membre est licencié -->
				</div>
				<div class="field" id="Bdate">
					Date de naissance: {{userDate}}<br />
				</div>
				<div class="field" id="userCat">
					Catégorie: {{userCat}}<br />
				</div>
				<div class="field" id ="userMail">
					Email : {{userMail}}<br />
				</div>
				<div class="ctrl">
					<input type="button" value="Modifier" id="setup" class="btn" onclick="javascript:modification();"/>
					<input type="button" value="Evènements suivis" id="eventFollowed" class="btn" onclick="javascript:getEventFollowed();">
					<input type="button" value="Clubs suivis" id="clubFollowed" class="btn" onclick="javascript:getClubFollowed();">
				</div>
			</p>
		</article>
		</div>
		<div id="events" class="informations">
		</div>
		<div id="clubs" class="informations">
		</div>
	</body>
</html>
