<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Inscription</title>
		
	</head>
	
	<body>

		<form method=POST action={{ url_for('club') }} >

		<h1>Inscription</h1>
		<p>
			<label for="username">Nom : </label>
			<input type="text" name="username" id="username" required/>
			<span id="test_duplicate_username"></span>
			<br />
			<label for="ville">Ville : </label>
			<input type="text" name="ville" id="ville" required/>
			<br />
			<label for="email">Email : </label>
			<input type="email" name="email" id="email"/>
			<span id="test_duplicate_email"></span>
			<br />
			<label for="nofederation" title="Donné par la fédération">Numéro d'identification : </label>
			<input type="number" name="nofederation" id="nofederation" required/>
			<span id="test_duplicate_nofede"></span>
			<br />
			<label for="login">Identifiant : </label>
			<input type="text" name="login" id="login" required/>
			<span id="test_duplicate_login"></span>
			<br />
			<label for="pswrd">Mot de passe : </label>
			<input type="text" name="pswrd" id="pswrd" required/>
			<br />
			<? BOUTON SUBMIT : /> 
			<br />
			<input type="submit" name="subBtn" value="Envoyer"/>
		</p>
	
		</form>
	</body>
</html>


			
			
			
