<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="http://localhost:5000/static/css/formsStyleSheet.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script language="JavaScript" src="http://localhost:5000/static/signIn.js"></script>
		<script language="JavaScript" src="http://localhost:5000/static/scripts.js"></script>
		<title>Inscription</title>
	</head>
	
	<body>
		<h1>Inscription</h1>
		<form method='POST' action={{ url_for('registerMember') }} >
			<h2>Informations personnelles</h2>
			<p>
				<label for="userName">Nom : </label>
				<input type="text" name="userName" id="userName" required/>
				<br />
				<label for="userFirstName">Prénom : </label>
				<input type="text" name="userFirstName" id="userFirstName" required/>
				<br />
				<label for="bday">Date de naissance : </label>
				<input type="date" name="bday" id="bday" min="1900-01-01" max="2016-05-10"  required/>
				<script type="text/javascript">window.onload = testDate("bday");</script>
			</p>
			<h2>Informations pratiques</h2>
			<p>
				<label for="userMail">Email : </label>
				<input type="email" name="userMail" id="userMail" onkeyup="javascript:checkSignUpMember();" required/>
				<span class="info" id="test_duplicate_email" value="_blank"></span>
				<br />
				<label for="userNo">Numéro de licence : </label>
				<input type="number" min="00000001" max="99999999"name="userNo" id="userNo" onkeyup="javascript:checkSignUpMember();" required/>
				<span class="info" id="test_duplicate_license" value="_blank"></span>
				<br />
				<label for="clubId">Identifiant de votre club (si vous en avez un): </label>
				<input type="number" min="000001" max="999999" name="clubId" id="clubId" onkeyup="javascript:checkSignUpMember();" />
				<span class="info" id="test_valid_clubId" value="_blank"></span>
				<br />
				<label for="login">Identifiant : </label>
				<input type="text" name="login" id="login" onkeyup="javascript:checkSignUpMember();" required/>
				<span class="info" id="test_duplicate_login" value="_blank"></span>
				<br />
				<label for="pswrd">Mot de passe : </label>
				<input type="password" name="pswrd" id="pswrd" required/>
			</p>
			<div class="button">
			<p>
				<input type="submit" class="btn" name="subBtn" value="S'inscire"/>
			</p>
			</div>
		</form>
	</body>
</html>
