<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Inscription</title>
	</head>
	
	<body>

		<form method=POST action={{ url_for('membre') }} >
			<h1>Inscription</h1>
			<p>
				<label for="username">Nom : </label>
				<input type="text" name="username" id="username" required/>
				<br />
				<label for="userfirstname">Prénom : </label>
				<input type="text" name="userfirstname" id="userfirstname" required/>
				<br />
				<label for="bday">Date de naissance : </label>
				<input type="date" name="bday" id="bday" required/>
				<br />
				<label for="usermail">Email : </label>
				<input type="email" name="usermail" id="usermail"/>
				<br />
				<label for="userNo">Numéro de licence : </label>
				<input type="number" name="userNo" id="userNo" required/>
				<br />
				<label for="login">Identifiant : </label>
				<input type="text" name="login" id="login" required/>
				<br />
				<label for="pswrd">Mot de passe : </label>
				<input type="text" name="pswrd" id="pswrd" required/>
				
				<? BOUTON SUBMIT : /> 
				<br />
				<input type="submit" name="subBtn" value="Envoyer"/>
			</p>
		</form>
	</body>
</html>
