<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="http://localhost:5000/static/css/formsStyleSheet.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script language="JavaScript" src="http://localhost:5000/static/scripts.js"></script>
		<title>Recherche</title>
	</head>
	<body>
		<header>
			<p>
				<img src="http://localhost:5000/static/css/img/banniere.png" alt="banniere du site" />
			</p>
			<nav>
				<ul class="nav">
					<li>Menu Principal</li>
					<ul class="menu">
						<li><a id="home" href="http://localhost:5000/home/{{ session['username'] }}">Accueil</a></li>
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}">Mon Profil<a></li>
						{% if clubLogged %}
						<li><a id="profile" href="http://localhost:5000/home/profile{{ session['mtype'] }}/{{ session['username'] }}/creaEvent">Créer un évènement</a></li>
						{% endif %}
						<li><a href="http://localhost:5000/home/search">Rechercher</a></li>
						<li><a href="http://localhost:5000/logout">Déconnexion</a></li>
					</ul>
				</ul>
			</nav>
		</header>
		<h2>Recherche</h2>
		
			<p id="searchType">
				<label for="searchType">Vous recherchez :</label><br/>
				<input type="radio" name="searchType" id="typeClub" value="club" onclick="javascript:testRadio()"/><label for="typeClub">Un club</label>
				<input type="radio" name="searchType" id="typeEvent" value="event" onclick="javascript:testRadio()"/><label for="typeClub">Un évènement</label><br/>
			</p>
			<form method="POST" action="/home/search" id="searchEvent" value="_blank">
				<p>
					<label for="categorie" name="categorie" >Catégorie d'âge : </label>
						<select name="categorie" id="categorie">
						<option value="Toutes categories">Toutes catégories</option>
						<option value="poussin">Moins de 10 ans</option>
						<option value="ado">10-18 ans</option>
						<option value="jeune">19-25 ans</option>
						<option value="senior">Plus de 25 ans</option>
					</select>
					<br/>
					<label for="date" title="jj/mm/aaaa">Date : </label>
					<input type="date" name="date" id="date" placeholder="jj/mm/aaaa"/>
					<br/>
					<label for="club">Nom : </label>
					<input type="text" name="eventName" id="eventName"/>
					<br/>
				<!---	<label for="place">Lieu (Ville) : </label>
					<input type="text" name="eplace" id="eplace"/>-->
					<div class="button">
						<input type="button" name="subBtn" class="btn" value="Rechercher Evenements" onclick="javascript:resultSearch();"/>
					</div>
				</p>
			</form>
			<form method="POST" action="/home/search" id="searchClub" value="_blank">
				<p>
					<label for="clubName">Nom : </label>
					<input type="text" name="clubName" id="clubName"/>
					<br/>
					<label for="place">Ville : </label>
					<input type="text" name="cplace" id="cplace"/>
					<br/>
					<div class="button">
						<input type="button" name="subBtn" class="btn" value="Rechercher Clubs" onclick="javascript:resultSearch();"/>
					</div>
				</p>
			</form>
			<article id="result">
			</section>
	</body>
</html>
