<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="./css/formsStyleSheet.css" />
		<title>Recherche</title>
	</head>
	<body>
		<h1>Recherche</h1>
		<form method="POST" action="">
			<p>
				<label for="categorie">Catégorie d'âge : </label>
				<select name="categorie" id="categorie">
					<option value="all">Toutes catégories</option>
					<option value="chick">Moins de 10 ans</option>
					<option value="teen">10-18 ans</option>
					<option value="young">19-25 ans</option>
					<option value="seniors">Plus de 25 ans</option>
				</select>
				<br/>
				<label for="date" title="jj/mm/aaaa">Date : </label>
				<input type="text" name="date" id="date" placeholder="jj/mm/aaaa"/>
				<br/>
				<label for="club">Club : </label>
				<input type="text" name="club" id="club"/>
				<br/>
				<label for="place">Lieu (Ville) : </label>
				<input type="text" name="place" id="place"/>
				<br/>
				<label for="other">Autre</label>
				<input type="search" name="other" id="other" placeholder="Ex : barbecue"/>
				<br/>
				<div class="button">
					<input type="submit" class="btn" value="Rechercher"/>
				</div>
			</p>
		</form>
	</body>
</html>
